<div class="well topic_row">
	<div class="row-fluid">
		<div class="span2">
			<span class="badge ">25<%= topic.vote_count %> </span> Votes
			<br />
			<br />
			<%= link_to "<i class='icon icon-arrow-up'></i>".html_safe,{},{:class=>"btn btn-mini",:title=>"Vote"}%>
		</div>
		<div class="span9">
			<strong><%= topic.name%></strong>
			<br />
			<%= topic.description%>
			<br/>
			Posted <em><%= time_ago_in_words(topic.created_at)%> ago</em> by <%=  topic.user.full_name%>
		</div>
	</div>
</div>