<h2>Sign in</h2>
<hr />
<div class="form-horizontal">
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<div class="control-group">
		<%= f.label :email,:class=>"control-label" %>
		<div class="controls">
			<%= f.email_field :email,{:placeholder=>"Your email",:required => true} %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :password,:class=>"control-label" %>
		<div class="controls">
			<%= f.password_field :password ,{:placeholder=>"Your email",:required => true} %>
		</div>
	</div>
	<% if devise_mapping.rememberable? -%>
	<div class="control-group">
		<%= f.label :remember_me ,:class=>"control-label" %>
		<div class="controls">
			<%= f.check_box :remember_me %>
		</div>
	</div>
	<% end -%>
	<div class="control-group">
		<label class="control-label">&nbsp;</label>
		<div class="controls">
			<%= f.submit "Sign in",class: "btn btn-primary" %>
			<br />
			<%= render "devise/shared/links" %> 
		</div>
	</div>
	<% end %>
</div>
